
<div class="container mt-4">


    <!--
        SHOW ALL THE COMPONENTS HERE
    -->
    <router-outlet></router-outlet>

    <hr>

    <!--
        LIST OF ADDED BOOKS
    -->

    <div class="mt-4">
        <h3>
            Existing books
        </h3>
        <div class="mt-4 mb-4">
            <a href="/book-add" class="btn btn-primary">
                Add new Book
            </a>
        </div>
        <div class="row d-flex justify-content-center mt-4">
            
            <!--
                ALL THE CARDS WITH EXISTING BOOKS HERE
            -->
            <div class="col-sm" style="min-width:18rem; height:750px;" *ngFor="let item of arrBooks">
                <div class="card border-0 shadow m-2 h-100">
                    <!--
                        Book title
                    -->
                    <div class="card-header">
                        <h5>
                            {{ item.title }}
                        </h5>
                    </div>
                    <!--
                        Book content
                    -->
                    <div class="card-body" style="overflow-y:auto">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="border-top-0">Title</td>
                                    <td class="border-top-0">{{ item.title }}</td>
                                </tr>
                                <tr>
                                    <td>ISBN</td>
                                    <td>{{ item.isbn }}</td>
                                </tr>
                                <tr>
                                    <td>Pages</td>
                                    <td>{{ item.pageCount }}</td>
                                </tr>
                                <tr>
                                    <td>Published</td>
                                    <td>{{ item.publishedDate | date }}</td>
                                </tr>
                                <tr *ngIf="item.thumbnailUrl.startsWith('http')">
                                    <td>Thumbnail</td>
                                    <td><img [attr.src]="item.thumbnailUrl" style="max-height:100px; max-width:100px;" /></td>
                                </tr>
                                <tr>
                                    <td>Short description</td>
                                    <td>{{ item.shortDescription }}</td>
                                </tr>
                                <tr>
                                    <td>Long description</td>
                                    <td>{{ item.longDescription }}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{ item.status }}</td>
                                </tr>
                                <tr>
                                    <td>Authors</td>
                                    <td>{{ item.authors }}</td>
                                </tr>
                                <tr>
                                    <td>Categories</td>
                                    <td>{{ item.categories }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--
                        Book footer with 
                        action buttons
                    -->
                    <div class="card-footer text-center">
                        <button class="btn btn-danger btn-sm m-2" (click)="deleteBook(item)">
                            Delete
                        </button>
                        <button class="btn btn-primary btn-sm m-2" (click)="editBook(item)">
                            Edit
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

